**answer 1**. python is a programming language use to interact with computer. python is use to give command to compute to complete specific task.
python is a popular language because of it's versatility it can be used in many things like data science, machine learning, developing apps and many more. it is also easy to learn, it is free and open source.

**answer 2.** computer do not understand any language rather than 1 and 0 which is also known as binary number. and the the code we write in python is in the language which computer do not understand so the interpreter convert the code in 1 and 0 so that computer understand the instruction we have given.
basically interpreter is a translator between computer and user.

**answer 3.** pre defined keywords in python are special words which has it's own meaning in python and we can not use this keywords to assign any variable. keywords are also case sensitive.
some of the keywords are:-
True, False, None, if, else, elif, for, while, break, continue, is, and, not and many more.

**answer 4**. no, keywords can not be used as variable name as it has it's own meaning. and even though we try to assign a variable to any keyword then it will give syntax error.

**answer 5.** mutability refers to the changes in object value. mutability means we can modify the value with the updates value we have. List is mutable. for example if i have a obj_list = [ 1, True, 4.5, "shriya"] now here obj_list[3] is assigned as "shriya" but now i have to change it so i will write is obj_list[3] = "shivam" and again print obj_list it will be updated and the output will be [1, True, 4.5, 'shivam']

**answer 6.** List are considerd to be mutable because once the list is created we can modify the element of list after creation. we can perform certain activity in list that is update, add and remove the element from the list.


---
Tuples are called immutable because once it is created we can not change or modifyu the element of the tuple. It is same life list we can store hetrogenous data in it but can not peform any operations on it like update,remove and add.once it is created it will be as it is no changes will happen in it.

**answer 7.** (==) and (is) both are comparison operators but work differently


1. == operator is called equality and its work is to check the values of two objects are equal or not even if they are stored in different memory location. for example a = [1, 2, 3]  b = [1, 2, 3]
print(a == b) the output will we true.

2. is operator is ues to check whether two objects have the same memory location or not. for example a = [1, 2, 3] b = [1, 2, 3] print(a is b) the output will be false. as the element of a and b both are same but we have assigned 2 differnt variable to the element which means both will have differnt memory location but if we write a = [1, 2, 3] b=a print(a is b) the output will be true.

**answer 8.** There are 3 logical operators in Python and they are and, or, not


*   **and** gives true when both the conditions are true and false is given when any one of the condition is false. for example a = 5 b = 10
print(a > 2 and b < 20) this will give output as true because both conditions are true.
print(a > 10 and b < 20) this will give output as false because first condition is false and other is true
*   **or** gives false when both the condition is false. and it gives true when any one of the condition is true. for example a = 5 b = 10
print(a > 10 or b < 20) output will we given as true because second condition is true
print(a > 10 or b > 20) output will be given as false because both conditions are false

*   **not** by appling not to any condition it reverses the boolean value. for example a = 10
print(not a > 2) the output will be false because a > 2 is true but not makes it false
print(not a > 20) the output will be true because a > 20 is false but not makes the condition true

**answer 9** Type casting is the process of converting one data type into another data type. it has 2 type a) implicit and b) explicit

*   a = "2" b = 3 print(a+b) as we can see a is given the value as 2 which is integer but as it is written in " " so it will consider as string. anything which is written in " " will be consider as string so the output will give error. so to get the output we will convert "2" in int data type by writting
print(type(int(a)))  **And this is called explicit type casting**

*   Now in implicit type casting adding numeric types like int, float, complex is possible and adding strings or lists with their own types is possible for example a = 5 + 3.5
print(a) the output will be in float data type .
a= "shriya" b = "25" print(a+b) the output will be shriya25 which will be string.

**answer 10.** **explicit type casting**  

*   a = "2" b = 3 print(a+b) as we can see a is given the value as 2 which is integer but as it is written in " " so it will consider as string. anything which is written in " " will be consider as string so the output will give error. so to get the output we will convert "2" in int data type by writting
print(int(a))

*   **Now in implicit type casting** adding numeric types like int, float, complex is possible and adding strings or lists with their own types is possible for example a = 5 + 3.5
print(a) the output will be in float data type .
a= "shriya" b = "25" print(a+b) the output will be shriya25 which will be string. In this python understand the data itself

**answer 11.**  purpose of conditional statements is to make decisions based on conditions. there are different conditional statements like if, if else, elif and nested if else.

**answer 12.** elif condition is short way of else if. it is use to check multiple conditions of the statement. for example
x = 10
if x > 20:
print("x is greater than 20")
elif x < 20:
print("x is smaller than 20")
else:
print("value is equal to the vale of x")

Here we have pre define the value of x as 10 and first condition we applied is not true as 10 is smaller that 20 so it will got to second condition which satisfy the condition so it will print "x is smaller than 20" and will get exit from the code. Once it is satisfy at any condition it will never go to the next condition to check it will directly get out of the whole code and will print the statement.

**answer 13.**  

1. for loop are used for iterating over the elements
2. for loop know the number of iterations

---

1. while loop are used for repearting a task based on a condition given
2. while loop does not have any specific number of iteration. iteration are done till the condition is satisfied.

**answer 14.** consider that you are learning how to ride a bicycle. until you can maintain your balance on the bike for ten seconds without falling, you should continue to practise. a while loop is better suited in this situation than a for loop because you can't predict how many tries will be necessary to accomplish this goal it might take five, ten, or more

# **PRACTICAL QUESTIONS**

In [1]:
# answer 1.
print("Hello, World!")

Hello, World!

In [3]:
# answer 2
name = "Shriya Pathak"
age = 22
print("Name:", name)
print("Age:", age)

Name: Shriya Pathak
Age: 22

In [5]:
#answer 3
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [12]:
#answer 4
word = input("Enter a word: ")

result = "is" if keyword.iskeyword(word) else "is not"
print(f"'{word}' {result} a Python keyword.")

Enter a word: true
'true' is not a Python keyword.

In [16]:
#answer 5
# for list
lis = [1, 2, 3, 4]
print("original list",lis)
lis[1] = 10
print("updated List:", lis)

original list [1, 2, 3, 4]
updated List: [1, 10, 3, 4]

In [18]:
# for tuple
tup = (1, 2, 3, 4)
print("original tuple",tup)

original tuple (1, 2, 3, 4)

In [19]:
tup[1] = 10
print("updated tuple:", tup

SyntaxError: incomplete input (<ipython-input-19-09af18990cb2>, line 2)

In [8]:
# answer 6 and 7 are same
# mutable
lis = [1, 2, 3, 4]
print("original list",lis)
lis[1] = 10
print("updated List:", lis)

original list [1, 2, 3, 4]
updated List: [1, 10, 3, 4]

In [9]:
# immutable
tup = (1, 2, 3, 4)
print("original tuple",tup)

original tuple (1, 2, 3, 4)

In [10]:
tup[1] = 10
print("updated tuple:", tup

SyntaxError: incomplete input (<ipython-input-10-09af18990cb2>, line 2)

In [20]:
# answer 8
x = 5
y = 3
# and
print("x > 2 and y > 2:", x > 2 and y > 2)
# or
print("x > 2 or y > 2:", x > 2 or y > 2)
# not
print("not x > 2:", not x > 2)

x > 2 and y > 2: True
x > 2 or y > 2: True
not x > 2: False

In [35]:
# answer 9

user_input = input("Please enter a value: ")

# String to Integer
if user_input.isdigit():
    int_value = int(user_input)
    print(f"String '{user_input}' to Integer: {int_value}")
else:
    print("Cannot convert to integer.")


# String to Float
if user_input.replace('.', '', 1).isdigit():
    float_value = float(user_input)
    print(f"String '{user_input}' to Float: {float_value}")
else:
    print("Cannot convert to float.")


# String to Boolean
if user_input.lower() == "true":
    bool_value = True
    print(f"String '{user_input}' to Boolean: {bool_value}")
elif user_input.lower() == "false":
    bool_value = False
    print(f"String '{user_input}' to Boolean: {bool_value}")
else:
    print("Cannot convert to boolean.")

Please enter a value: false
Cannot convert to integer.
Cannot convert to float.
String 'false' to Boolean: False

In [42]:
# answer 10

lis = ['1', '2.5', 'True', 'Hello']
print("original List:" , lis)

my_list[0] = int(my_list[0])
my_list[1] = float(my_list[1])
my_list[2] = bool(my_list[2])

# Print type-casted list
print("after type casting:", lis)

original List: ['1', '2.5', 'True', 'Hello']
after type casting: ['1', '2.5', 'True', 'Hello']

In [44]:
# answer 11

num = float(input("Enter a number: "))

if num > 0:
    print(f"{num} is a positive number.")
elif num < 0:
    print(f"{num} is a negative number.")
else:
    print(f"{num} is zero.")

Enter a number: 67
67.0 is a positive number.

In [45]:
# answer 12
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [55]:
# answer 13
even_sum = 0

for num in range(2, 51, 2):
    even_sum += num
print("The sum of all even number is",even_sum)

The sum of all even number is 650

In [ ]:
# answer 14

In [7]:
# answer 15
num = int(input("Enter a number: "))

factorial = 1
c = 1

while c <= num:
    factorial *= c
    c += 1

print("Factorial of", num, "is:",factorial)

Enter a number: 4
Factorial of 4 is: 24